/* SubmissionForm.css */

.form-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.form-container label {
  font-weight: bold;
}

.form-container input[type="text"],
.form-container select,
.form-container textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form-container textarea {
  height: 100px;
  /* Adjust height as needed */
}

.form-container button[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.form-container button[type="submit"]:hover {
  background-color: #45a049;
}

/* Optional: Style form elements on focus */
.form-container input:focus,
.form-container select:focus,
.form-container textarea:focus {
  outline: none;
  border-color: #4caf50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}




.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.username-form {
  margin-bottom: 20px;
}

.submission-table {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}

.submission-table h2 {
  margin-top: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
  text-align: left;
}

tr:hover {
  background-color: #f2f2f2;
}