@tailwind base;
@tailwind components;
@tailwind utilities;


/*Nav */
/* Adding custom styles */
.nav-button {
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.active {
    background-color: #4a90e2;
    color: #fff;
}